* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  --main-color-blue-dark: #005679;
  --main-color-blue-light: #05d8e8;
  --main-color-yellow: #f9e436;
  --main-color-pink: #e235f9;
  --main-color-gray: #6d6b6d;
  --main-color-dark: #333333;
  --main-color-light: #ffffff;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

*,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* font-size: 62.5%; */
}

@media only screen and (max-width: 480px) {
  body {
    background-color: var(--main-color-dark);
  }

  .navbar {
    padding: 0;
    margin: 0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar_list {
    height: 80%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .navbar_list_item_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--main-color-light);
  }

  .nabvar_list_item_img {
    padding: 4px;
  }

  .navbar_list_item_link > span {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    margin-top: 4px;
  }

  /* HOME SECTION */

  .home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home_title {
    margin-top: 64px;
    color: var(--main-color-light);
    font-weight: 400;
    width: 80%;
    font-size: 24px;
  }

  .home_title > span,
  .home_subtitle > span {
    color: var(--main-color-blue-light);
  }

  .home_subtitle {
    margin-top: 24px;
    color: var(--main-color-light);
    font-weight: lighter;
    width: 60%;
    font-size: 18px;
  }

  .home_examples {
    margin-top: 64px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .home_examples_web_container,
  .home_examples_mobile_container {
    width: 155px;
    height: 96px;
    border-radius: 8px;
    border: 1px var(--main-color-blue-light) solid;
  }

  .home_examples_web_title,
  .home_examples_mobile_title {
    color: var(--main-color-blue-light);
    padding-top: 12px;
  }

  .content_link {
    text-decoration: none;
    font-size: 18px;
    color: var(--main-color-dark);
    background-color: var(--main-color-blue-light);
    padding: 8px 12px;
    border-radius: 36px;
    margin-top: 48px;
    margin-bottom: 64px;
  }

  /* TEAM SECTION */

  .team_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .team_container img {
    width: 164px;
    height: 164px;
  }

  .team_title {
    margin-top: 64px;
    color: var(--main-color-light);
    font-weight: 400;
    width: 80%;
    font-size: 24px;
  }

  .team_title > span,
  .team_subtitle > span {
    color: var(--main-color-blue-light);
  }

  .team_subtitle {
    margin-top: 24px;
    color: var(--main-color-light);
    font-weight: lighter;
    width: 80%;
    font-size: 18px;
  }

  .team_members {
    margin-top: 64px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .team_members > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team_members_img {
    width: 72px;
    height: 72px;
    border-radius: 8px;
    border: 1px var(--main-color-blue-light) solid;
  }

  .team_members > div > h4 {
    color: var(--main-color-blue-light);
    font-weight: 400;
    margin-top: 8px;
    font-size: 14px;
    padding: 0;
  }

  .team_members > div > p {
    color: var(--main-color-light);
    font-size: 14px;
  }

  /* SKILLS SECTION */

  .skills_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .skills_title {
    color: var(--main-color-light);
    font-weight: 400;
    width: 80%;
    font-size: 24px;
  }

  .skills_subtitle {
    margin-top: 32px;
    color: var(--main-color-light);
    font-weight: lighter;
    width: 80%;
    font-size: 18px;
  }

  .skills_subtitle > span {
    width: 80%;
    color: var(--main-color-blue-light);
    font-size: 20px;
  }

  .skills_eachone {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .skills_eachone > div {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 48px;
  }

  .skills_eachone_title {
    color: var(--main-color-blue-light);
    font-weight: 400;
    margin-top: 16px;
    font-size: 20px;
    padding: 0;
  }

  .skills_eachone_description {
    color: var(--main-color-light);
    font-weight: lighter;
    font-size: 20px;
  }

  /* PORTFOLIO SECCTION */

  .portfolio_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .portfolio_container > h2 {
    color: var(--main-color-light);
    font-weight: 400;
    width: 80%;
    font-size: 24px;
  }

  .portfolio_container > h3 {
    margin-top: 32px;
    color: var(--main-color-light);
    font-weight: lighter;
    width: 80%;
    font-size: 18px;
  }

  .portfolio_works {
    width: 80%;
  }

  .portfolio_works_img {
    margin-top: 48px;
    height: 180px;
    width: 310px;
    border-radius: 8px;
    border: 1px var(--main-color-blue-light) solid;
  }

  .portfolio_works_title {
    color: var(--main-color-blue-light);
    font-weight: 400;
    margin-top: 8px;
    font-size: 20px;
    padding: 0;
  }

  .portfolio_works_description {
    color: var(--main-color-light);
    font-weight: lighter;
    font-size: 20px;
    font-weight: 400;
  }

  /* CONTACT SECCTION */

  .contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact_container > h2 {
    color: var(--main-color-light);
    font-weight: 400;
    width: 80%;
    font-size: 24px;
  }

  .contact_container > form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact_container > form > label {
    color: var(--main-color-light);
  }

  .contact_container > form > input {
    width: 100%;
    background-color: var(--main-color-dark);
    border-radius: 6px;
    border: 1px var(--main-color-light) solid;
    height: 33px;
    margin-bottom: 12px;
    color: var(--main-color-light);
  }

  .contact_container > form > textarea {
    width: 100%;
    background-color: var(--main-color-dark);
    border-radius: 6px;
    border: 1px var(--main-color-light) solid;
    margin-bottom: 24px;
    color: var(--main-color-light);
  }

  .form_submit {
    text-decoration: none;
    font-size: 18px;
    color: var(--main-color-dark);
    background-color: var(--main-color-blue-light);
    padding: 8px 12px;
    border-radius: 36px;
    border: none;
    align-self: center;
  }
}
