* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  --main-color-blue-dark: #005679;
  --main-color-blue-light: #05d8e8;
  --main-color-yellow: #f9e436;
  --main-color-pink: #e235f9;
  --main-color-gray: #6d6b6d;
  --main-color-dark: #333333;
  --main-color-light: #ffffff;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

*,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* font-size: 62.5%; */
}

@media only screen and (max-width: 480px) {
  body {
    background-color: var(--main-color-dark);
  }

  header {
    padding: 0.5em;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-color-dark);
  }

  .navbar_container {
    position: relative;
  }

  header::after {
    content: "";
    clear: both;
    display: block;
  }

  .navbar_logo {
    display: flex;
    justify-content: center;
  }

  .navbar_logo > img {
    padding-top: 8px;
  }

  .navbar {
    position: absolute;
    padding-top: 48px;
    border-radius: 50px 50px 0% 0;
    border: 1px solid var(--main-color-gray);
    position: absolute;
    left: 50%;
    top: 100%;
    height: 100vh;
    width: 100%;
    transform: translate(-50%, 15vh);
    background-color: var(--main-color-dark);
    clip-path: circle(0px at bottom);
    transition: clip-path ease-in-out 700ms;
  }

  .navbar_open {
    clip-path: circle(150% at bottom);
  }

  .navbar_list {
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .navbar_list_item_link {
    text-decoration: none;
    color: var(--main-color-light);
    background-color: var(--main-color-dark);
    display: block;
    margin-bottom: 32px;
  }

  .nabvar_list_item_img > img {
    size: 40px;
  }

  .navbar_list_item_link > p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 14px;
  }

  .menu-toggle {
    padding: 1em;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }
  .menu-open .hamburger {
    transform: rotate(45deg);
  }
  .menu-open .hamburger::before {
    opacity: 0;
  }
  .menu-open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
  }
  .hamburger,
  .hamburger::after,
  .hamburger::before {
    content: "";
    display: block;
    background: var(--main-color-light);
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
  }
  .hamburger::before {
    transform: translateY(-8px);
  }
  .hamburger::after {
    transform: translateY(5px);
  }

  /* HOME SECTION */

  .home_container {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home_title {
    margin-top: 64px;
    color: var(--main-color-light);
    font-weight: 400;
    width: 80%;
    font-size: 24px;
  }

  .home_title > span,
  .home_subtitle > span {
    color: var(--main-color-blue-light);
  }

  .home_subtitle {
    margin-top: 24px;
    color: var(--main-color-light);
    font-weight: lighter;
    width: 60%;
    font-size: 18px;
  }

  .home_examples {
    margin-top: 64px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .home_examples_web_container,
  .home_examples_mobile_container {
    width: 155px;
    height: 96px;
    border-radius: 8px;
    border: 1px var(--main-color-blue-light) solid;
  }

  .home_examples_web_title,
  .home_examples_mobile_title {
    color: var(--main-color-blue-light);
    padding-top: 12px;
  }

  .content_link {
    text-decoration: none;
    font-size: 18px;
    color: var(--main-color-dark);
    background-color: var(--main-color-blue-light);
    padding: 8px 12px;
    border-radius: 36px;
    margin-top: 48px;
    margin-bottom: 64px;
  }

  /* TEAM SECTION */

  .team_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .team_container img {
    width: 164px;
    height: 164px;
    margin-top: 100px;
  }

  .team_title {
    margin-top: 64px;
    color: var(--main-color-light);
    font-weight: 400;
    width: 80%;
    font-size: 24px;
  }

  .team_title > span,
  .team_subtitle > span {
    color: var(--main-color-blue-light);
  }

  .team_subtitle {
    margin-top: 24px;
    color: var(--main-color-light);
    font-weight: lighter;
    width: 80%;
    font-size: 18px;
  }

  .team_members {
    margin-top: 64px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .team_members > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95px;
  }

  .team_members_img {
    width: 72px;
    height: 72px;
    border-radius: 8px;
    border: 1px var(--main-color-blue-light) solid;
  }

  .team_members > div > h4 {
    color: var(--main-color-blue-light);
    font-weight: 400;
    margin-top: 8px;
    font-size: 14px;
    padding: 0;
  }

  .team_members > div > p {
    color: var(--main-color-light);
    font-size: 14px;
  }

  /* SKILLS SECTION */

  .skills_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .skills_title {
    margin-top: 100px;
    color: var(--main-color-light);
    font-weight: 400;
    width: 80%;
    font-size: 24px;
  }

  .skills_subtitle {
    margin-top: 32px;
    color: var(--main-color-light);
    font-weight: lighter;
    width: 80%;
    font-size: 18px;
  }

  .skills_subtitle > span {
    width: 80%;
    color: var(--main-color-blue-light);
    font-size: 20px;
  }

  .skills_eachone {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .skills_eachone > div {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 48px;
  }

  .skills_eachone_title {
    color: var(--main-color-blue-light);
    font-weight: 400;
    margin-top: 16px;
    font-size: 20px;
    padding: 0;
  }

  .skills_eachone_description {
    color: var(--main-color-light);
    font-weight: lighter;
    font-size: 20px;
  }

  /* PORTFOLIO SECCTION */

  .portfolio_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .portfolio_container > h2 {
    color: var(--main-color-light);
    font-weight: 400;
    width: 80%;
    font-size: 24px;
    margin-top: 100px;
  }

  .portfolio_container > h3 {
    margin-top: 32px;
    color: var(--main-color-light);
    font-weight: lighter;
    width: 80%;
    font-size: 18px;
  }

  .portfolio_works {
    width: 80%;
  }

  .portfolio_works_img {
    margin-top: 48px;
    height: 180px;
    width: 310px;
    border-radius: 8px;
    border: 1px var(--main-color-blue-light) solid;
  }

  .portfolio_works_title {
    color: var(--main-color-blue-light);
    font-weight: 400;
    margin-top: 8px;
    font-size: 20px;
    padding: 0;
  }

  .portfolio_works_description {
    color: var(--main-color-light);
    font-weight: lighter;
    font-size: 20px;
    font-weight: 400;
  }

  /* CONTACT SECCTION */

  .contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 800px;
  }

  .contact_container > h2 {
    color: var(--main-color-light);
    font-weight: 400;
    width: 80%;
    font-size: 24px;
  }

  .contact_container > form {
    margin-top: 72px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact_container > form > label {
    color: var(--main-color-light);
  }

  .contact_container > form > input {
    width: 100%;
    background-color: var(--main-color-dark);
    border-radius: 6px;
    border: 1px var(--main-color-light) solid;
    height: 33px;
    margin-bottom: 12px;
    color: var(--main-color-light);
  }

  .contact_container > form > textarea {
    width: 100%;
    background-color: var(--main-color-dark);
    border-radius: 6px;
    border: 1px var(--main-color-light) solid;
    margin-bottom: 24px;
    color: var(--main-color-light);
  }

  .form_submit {
    text-decoration: none;
    font-size: 18px;
    color: var(--main-color-dark);
    background-color: var(--main-color-blue-light);
    padding: 8px 12px;
    border-radius: 36px;
    border: none;
    align-self: center;
  }

  /* SIDEBAR */
  .side_bar {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 125px repeat(12, 1fr);
    grid-template-rows: 125px auto;
    width: 100%;
    height: 100%;
  }

  header {
    height: 125px;
    grid-column: 1 / 14;
  }

  .navbar_container {
    display: grid;
    background-color: var(--main-color-dark);
    grid-template-columns: 125px auto;
    height: 125px;
    position: fixed;
    z-index: 2;
    width: 100%;
  }

  .navbar_logo {
    grid-column: 1 / 2;
    padding: 0;
    margin: 0;
    grid-row: 1 / 2;
    background: url("./assets/images/logo80px.png") no-repeat;
    background-position: center;
  }

  .navbar_logo > img {
    display: none;
  }

  .menu-toggle {
    display: none;
  }

  .navbar {
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
  }

  .navbar_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 660px;
    list-style: none;
    text-align: center;
  }

  .navbar_list_item {
    height: 38px;
    display: flex;
    align-items: center;
  }

  .navbar_list_item_link {
    text-decoration: none;
    color: var(--main-color-light);
    position: relative;
  }

  .navbar_list_item_link:hover {
    color: var(--main-color-blue-light);
    cursor: pointer;
  }

  .navbar_list_item_link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color-blue-light);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  .navbar_list_item_link:hover:before {
    visibility: visible;
    transform: scaleX(0.7);
  }

  .nabvar_list_item_img > img {
    display: none;
  }

  .navbar_list_item_link > p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 14px;
    padding: 12px 0;
  }

  .sidebar {
    grid-column: 1 / 2;
    width: 125px;
    background-color: #333;
    height: 100vh;
    z-index: 1;
    position: fixed;
    /* border-right: 1px solid var(--main-color-light); */
  }

  .side_links {
    height: 75px;
    position: absolute;
    top: 88%;
    left: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .main {
    grid-column: 2 / 14;
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }

  /* SECTIONS */

  .main > section {
    grid-column: 1 / 13;
    min-height: 100vh;
  }

  #home-content {
    background: url("./assets/images/background-home.jpg");
    background-size: cover;
  }
  #team-content {
    background: url("./assets/images/background-about.jpg");
    background-size: cover;
    border-top: 122px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      135deg,
      #005679,
      #005b7e,
      #00698d,
      #007da0,
      #0094b6,
      #00adc9,
      #00c3da,
      #00d2e4,
      #05d8e8
    );
  }
  #skills-content {
    background: url("./assets/images/background-skills.jpg");
    background-size: cover;
    border-top: 122px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      135deg,
      #005679,
      #005b7e,
      #00698d,
      #007da0,
      #0094b6,
      #00adc9,
      #00c3da,
      #00d2e4,
      #05d8e8
    );
  }
  #portfolio-content {
    background: url("./assets/images/background-portfolio.jpg");
    background-size: cover;
    border-top: 122px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      135deg,
      #005679,
      #005b7e,
      #00698d,
      #007da0,
      #0094b6,
      #00adc9,
      #00c3da,
      #00d2e4,
      #05d8e8
    );
  }
  #contact-content {
    background: url("./assets/images/background-contact.jpg") no-repeat;
    background-size: cover;
    border-top: 122px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      135deg,
      #005679,
      #005b7e,
      #00698d,
      #007da0,
      #0094b6,
      #00adc9,
      #00c3da,
      #00d2e4,
      #05d8e8
    );
  }
} ;
